<!-- <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Employee Login">
        <app-login></app-login>
    </mat-tab>
    <mat-tab label="Student Login">
        <app-student-login></app-student-login>
    </mat-tab>
    <mat-tab label="Adimin Login">
        <app-adimin-login></app-adimin-login>
    </mat-tab>
</mat-tab-group> -->

<div class="container">
    <h1>Login Page</h1>
    <div class="row ">
        <div class="col-sm-4 card hoverable rainy-ashville-gradient">
            <app-login></app-login>
        </div>
        <div class="col-sm-4 card hoverable rare-wind-gradient">
            <app-student-login></app-student-login>
        </div>
        <div class="col-sm-4 card hoverable heavy-rain-gradient">
            <app-adimin-login></app-adimin-login>
        </div>
    </div>
</div>