.empControls{
    width: 100%;
    padding: 5%;
}
.empControls > * {
    width: 100%;
}
.myPadding{
    padding-bottom: 10px;
}
mat-radio-group mat-radio-button{
    margin-left: 10px;
}
.buttonrow button{
    margin: 5px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bold;
    color: darkblue;
    text-align: center;
    margin: 30px;
}
mat-label{
    
    color: navy;
    font-weight: bolder;
}
mat-error{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font: 1rem sans-serif;
    color: #dd2c00;
}
.warning{
    color: #00695c;
}