p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: bold;

}
.container-fuild{
    align-items: center;
}
#footer{
    position:fixed;
    bottom: -10px;
    width: 100%;
    text-align: center;
}