/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* body{
    background-image: url('/assets/images/image5.jpg');
    background-position: center;
    background-size: cover;
} */
p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: bold;

}
