<div class="container-fuild">
    <h1 class="h1 text-info text-center mt-4">Emplyee Form</h1>
    <form [formGroup]="employeeForm" (submit)="addEmployee(employeeForm.value)">
        <div class="row">
            <div class="col-sm-6 empControls">
                <mat-form-field appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input matInput type="text" formControlName="username" placeholder="Enter User Name" required>
                    <mat-error *ngIf="employeeForm.get('username').errors?.required">Please Enter User Name
                    </mat-error>
                    <mat-error class="warning" *ngIf="employeeForm.get('username').errors?.minlength">
                        Please Enter Minimum 3 Charectors
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" placeholder="Enter Password" required>
                    <mat-error *ngIf="employeeForm.get('password').errors?.required">Please Enter Password
                    </mat-error>
                    <mat-error class="warning" *ngIf="employeeForm.get('password').errors?.minlength">
                        Please Enter Minimum 3 Charector
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>FullName</mat-label>
                    <input matInput type="text" formControlName="fullname" placeholder="Enter FullName" required>
                    <mat-error *ngIf="employeeForm.get('fullname').errors?.required">Please Enter FullName
                    </mat-error>
                    <mat-error class="warning" *ngIf="employeeForm.get('fullname').errors?.minlength">
                        Please Enter Minimum 3 Charector
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option *ngFor="let gen of gender" [value]="gen">{{gen}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="employeeForm.get('gender').errors?.required">Please Select Gender
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-6 empControls">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="Enter Email Address" required>
                    <mat-error *ngIf="employeeForm.get('email').errors?.required">
                        Please Enter E-mail
                    </mat-error>
                    <mat-error class="warning" *ngIf="employeeForm.get('email').errors?.pattern">
                        Please Enter E-mail in Courrect Format
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <input matInput type="number" formControlName="mobile" maxlength="10"
                        placeholder="Enter Mobile Number" required>
                    <mat-error *ngIf="employeeForm.get('mobile').errors?.required">
                        Please Enter Mobile Number
                    </mat-error>
                    <mat-error class="warning" *ngIf="employeeForm.get('mobile').errors?.pattern">
                        Please Enter 10 Numbers only
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Full Address</mat-label>
                    <input matInput type="text" formControlName="address" placeholder="Enter  Address" required>
                    <mat-error *ngIf="employeeForm.get('address').errors?.required">
                        Please Enter Student Full Address
                    </mat-error>
                </mat-form-field>
                <div>
                    <button mdbBtn type="submit" color="default" [outline]="true" class=""
                        mdbWavesEffect>Subimt</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div>
</div>